
.about{

    width: 100%;
    height: 95vh;
    position: relative;
    z-index: 1;

    background-image: url('https://source.unsplash.com/qCjolcMFaLI');
    background-size: cover;
    background-position: center;


    color: white;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}


.about__header{

    text-align: center;
    padding-top: 5rem;
    font-size: 3.5rem;
}

.border{
    width: 10%;
    background: gold;
    margin: 2rem auto;
    font-size: 2px;
}

.about__container{
    width: 100%;
    /* background: pink; */
    /* height: 100%; */
    padding: 0 10rem;
}

.about__text{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 2rem;

    text-align: center;
    
}

.btn__container{
    display: flex;
    justify-content: center;
    margin-top: 10rem;

}

.about__btn{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 5px;
    cursor:pointer;

    background-image: linear-gradient(to bottom, rgb(230, 98, 120), rgb(196, 84, 103));
    color: white;

    border:none;
    transition: all 0.2s ease-in-out;
}

.about__btn:hover{
    background: white;
    color: black;
    text-decoration:underline;
}
.about__btn:focus{
    outline: none;
}