
*, 
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: sans-serif;
}

.pagination__active{
    color: white;
    background: lightcoral;
    border-radius: 50%;
    align-self: center;
      
}

.active1{
    /* background: pink; */
    color: black !important;
    
}


.active{
    border-bottom: 1px solid white;
    
}

.activelink{
    border-bottom: 1px solid blue !important;
    color: blue;
}